body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1300px;
    margin: auto;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.fullBody {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.menuBar {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 200px;
    justify-content: center;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slidecontainer h4 {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00000070;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00000070;
    cursor: pointer;
}

.colorButtonBar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0px;
}

.colorButton {
    height: 20px;
    width: 20px;
    border: none;
}

.menuButton {
    margin: 20px;
}

.drawBoard {
    max-width: 1000px;
    max-height: 1000px;
    margin: 15px;
    display: flex;
    flex: 1 1 50px;
    flex-wrap: wrap;
    border: 1px solid;
}

.gridSquares {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer h1 {
    text-align: center;
}